<template>
  <div id="app">
    <Login/>
  </div>
</template>

<script>
import Login from './components/Login.vue'
export default {
  name: 'app',
  components: {
    Login
  }
}
</script>

<style>
</style>
