<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script type="text/javascript" src="js/dist/vue.js"></script>
</head>
<body>
    <div id="app">
        <input type="text" v-model="searchName">
        <ul>
            <li v-for="(p, index) in filterPersons">
                {{index}}--{{p.name}}:{{p.age}}
            </li>
            <button @click="setOrderType(1)">年龄升序</button>
            <button @click="setOrderType(2)">年龄降序</button>
            <button @click="setOrderType(0)">原本顺序</button>
        </ul>
    </div>
    <script type="text/javascript">
        const vm = new Vue({
            el: '#app',
            data: {
                searchName: '',
                orderType: 0, //0：原本顺序；1：升序；2：降序
                persons: [
                    {name: '江阿生', age: 28},
                    {name: '曾静', age: 22},
                    {name: '张人风', age: 24},
                    {name: '细雨', age: 26}
                ]
            },
            methods: {
                setOrderType(orderType) {
                    this.orderType = orderType;
                }
            },
            computed: {
                filterPersons () {
                    const {searchName, persons, orderType} = this;
                    let finalPersons;
                    finalPersons = persons.filter(p => p.name.indexOf(this.searchName) >= 0);
                    if (orderType != 0) {
                        finalPersons.sort(function (p1, p2) {
                            //1:升序；2:降序
                            if (orderType === 2) {
                                return p2.age - p1.age;
                            } else {
                                return  p1.age - p2.age;
                            }
                        })
                    }
                    return finalPersons;
                }
            }
        });
    </script>
</body>
</html>